@charset "UTF-8";
span{
	width:100px;
	height:30px;
	display: block;
}
.danger{
	border:1px solid red;
	background-color: red;
	border-radius: 20px;
}
.mrimay{
	border:1px solid red;
	background-color: red;
	border-radius: 20px;
}
.succenss{
	border:1px solid red;
	background-color: red;
	border-radius: 20px;
}
.warning{
	border:1px solid red;
	background-color: red;
	border-radius: 20px;
}
.waroshing{
	border:1px solid red;
	background-color: red;
	border-radius: 20px;
}